<app-nav></app-nav>

<section class="magazine-section my-5 container" >
 
  <h1 class="h1-responsive font-weight-bold text-center">Magazine </h1>
  
  <div class="row">

    <div class="col-lg-4 col-md-12 mb-lg-0 mb-5">

      <div class="single-news mb-3">

        <div class="view overlay rounded z-depth-2 mb-4">
          <img class="img-fluid" src="assets/banana.jpg" alt="Smoothie">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

     
       
        <div class="d-flex justify-content-between">
          <div class="col-11 text-truncate pl-0 mb-3">
            <a class="font-weight-bold">Smoothie Delight</a>
            
          </div>
        </div>

      </div>
  

     
      <div class="single-news mb-3">

        <div class="d-flex justify-content-between">
          <div class="col-11 text-truncate pl-0 mb-3">
           <li> <a href='#'>24 recepies for smoothie.</a></li>
          </div>
          
        </div>

      </div>
     

      <div class="single-news mb-3">

        <div class="d-flex justify-content-between">
          <div class="col-11 text-truncate pl-0 mb-3">
           <li> <a href='#'>How to prepare smoothie?</a></li>
          </div>
          
        </div>

      </div>
     

    
      <div class="single-news mb-3">

        <div class="d-flex justify-content-between">
          <div class="col-11 text-truncate pl-0 mb-3">
          <li>  <a href='#'>How many kcal has smoothie?</a></li>
          </div>
          
        </div>

      </div>
    
      <div class="single-news mb-3">

        <div class="d-flex justify-content-between">
          <div class="col-11 text-truncate pl-0 mb-3">
          <li>   <a href='#'>Where to buy smoothie?</a></li>
          </div>
          
        </div>

      </div>
     

    </div>
   
    <div class="col-lg-4 col-md-6 mb-md-0 mb-5">

     
      <div class="single-news mb-3">

      
        <div class="view overlay rounded z-depth-2 mb-4">
          <img class="img-fluid" src="assets/kiwi.jpg" alt="Health">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        
      

       
        <div class="d-flex justify-content-between">
          <div class="col-11 text-truncate pl-0 mb-3">
          <a class="font-weight-bold">Health</a>
          </div>
        </div>

      </div>
     
      

       
        <div class="single-news mb-3">

          <div class="d-flex justify-content-between">
            <div class="col-11 text-truncate pl-0 mb-3">
            <li>   <a href='#'>How healthy and delicious is smoothy?</a></li>
            </div>
            
          </div>
  
        </div>

     
      
        <div class="single-news mb-3">

          <div class="d-flex justify-content-between">
            <div class="col-11 text-truncate pl-0 mb-3">
            <li>   <a href='#'>Smoothie has a low cholesterol.</a></li>
            </div>
            
          </div>
  
        </div>
     

    
        <div class="single-news mb-3">

          <div class="d-flex justify-content-between">
            <div class="col-11 text-truncate pl-0 mb-3">
            <li>   <a href='#'>Smoothie for summer.</a></li>
            </div>
            
          </div>
  
        </div>
      
        <div class="single-news mb-3">

          <div class="d-flex justify-content-between">
            <div class="col-11 text-truncate pl-0 mb-3">
            <li>  <a href='#'>Diet. Smoothie lose weight.</a> </li>
            </div>
            
          </div>
  
        </div>
      

    </div>
    
    <div class="col-lg-4 col-md-6 mb-0">

     
      <div class="single-news mb-3">

       
        <div class="view overlay rounded z-depth-2 mb-4">
          <img class="img-fluid" src="assets/truskawka.jpg" alt="Sport">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <div class="d-flex justify-content-between">
          <div class="col-11 text-truncate pl-0 mb-3">
            <a class="font-weight-bold">Sport</a>
          </div>
        </div>

      </div>
     
      <div class="single-news mb-3">

        <div class="d-flex justify-content-between">
          <div class="col-11 text-truncate pl-0 mb-3">
          <li>  <a href='#'>Smoothie adds muscles.</a> </li>
          </div>
          
        </div>

      </div>
      
      <div class="single-news mb-3">

        <div class="d-flex justify-content-between">
          <div class="col-11 text-truncate pl-0 mb-3">
          <li> <a href='#'>How to lose a weight with smoothie? 
            </a></li>
          </div>
          
        </div>

      </div>
     
      <div class="single-news mb-3">

        <div class="d-flex justify-content-between">
          <div class="col-11 text-truncate pl-0 mb-3">
           <li> <a href='#'>Exercises</a></li>
          </div>
          
        </div>

      </div>
     
      <div class="single-news mb-3">

        <div class="d-flex justify-content-between">
          <div class="col-11 text-truncate pl-0 mb-3">
          <li>   <a href='#'>Our products in gyms.</a> </li>
          </div>
          
        </div>

      </div>
    

    </div>
  

  </div>
 

</section>


<app-footer></app-footer>