<app-nav></app-nav>

<div class="container">


  <h1> Lose weight and add muscle thanks to our smoothie </h1>

  <p><b>Increasing muscle mass</b> can be a tedious process. Anyone courageous enough to stick to the challenge is well
    aware of how hard it can be to balance your caloric intake. The amount of planning involved is typically what makes
    or breaks a person.<br> <b>Muscle building smoothies</b> are one simple method to make the planning that much
    easier.<br>
    Smoothies are great way to supplement your meal prepping because you can easily package the ingredients up by
    serving. After you’re have found a healthy combination of ingredients in can tolerate, bag them all up and toss them
    in the freezer for long-term storage and easy access.</p>

  <div class="row">
    <img src="assets/p.jpg" width="auto" alt="Picture of health fruits">
  </div>


  <h6>
    The table below presents the ingredients from which our tasty and healthy cocktails are produced, as well as their
    caloric content and price.</h6>

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Ingredients</th>
        <th scope="col">Kcal</th>
        <th scope="col">Price [USD]</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Smoothie 1</th>
        <td>Banana, cup almond milk, cup strong coffee, frozen into ice cubes, tablespoon chia seeds</td>
        <td>350 kcal</td>
        <td>5</td>
      </tr>
      <tr>
        <th scope="row">Smoothie 2</th>
        <td>Cup frozen blueberries,medium banana,cup unsweetened vanilla almond milk,handful of spinach</td>
        <td>400 kcal</td>
        <td>10 </td>
      </tr>
      <tr>
        <th scope="row">Smoothie 3</th>
        <td>Cup baby carrots, cup of broccoli florets, handful of spinach or kale</td>
        <td>370 kcal</td>
        <td>12 </td>
      </tr>

      <tr>
        <th scope="row">Smoothie 4</th>
        <td>Banana, cup almond milk, cup strong coffee, frozen into ice cubes, tablespoon chia seeds</td>
        <td>350 kcal</td>
        <td>5</td>
      </tr>
      <tr>
        <th scope="row">Smoothie 5</th>
        <td>Cup frozen blueberries,medium banana,cup unsweetened vanilla almond milk,handful of spinach</td>
        <td>400 kcal</td>
        <td>10 </td>
      </tr>
      <tr>
        <th scope="row">Smoothie 6</th>
        <td>Cup baby carrots, cup of broccoli florets, handful of spinach or kale</td>
        <td>370 kcal</td>
        <td>12 </td>
      </tr>
      <tr>
        <th scope="row">Smoothie 7</th>
        <td>Banana, cup almond milk, cup strong coffee, frozen into ice cubes, tablespoon chia seeds</td>
        <td>350 kcal</td>
        <td>5</td>
      </tr>
      <tr>
        <th scope="row">Smoothie 8</th>
        <td>Cup frozen blueberries,medium banana,cup unsweetened vanilla almond milk,handful of spinach</td>
        <td>400 kcal</td>
        <td>10 </td>
      </tr>
      <tr>
        <th scope="row">Smoothie 9</th>
        <td>Cup baby carrots, cup of broccoli florets, handful of spinach or kale</td>
        <td>370 kcal</td>
        <td>12 </td>
      </tr>
      <tr>
        <th scope="row">Smoothie 10</th>
        <td>Banana, cup almond milk, cup strong coffee, frozen into ice cubes, tablespoon chia seeds</td>
        <td>350 kcal</td>
        <td>5</td>
      </tr>
      <tr>
        <th scope="row">Smoothie 11</th>
        <td>Cup frozen blueberries,medium banana,cup unsweetened vanilla almond milk,handful of spinach</td>
        <td>400 kcal</td>
        <td>10 </td>
      </tr>


    </tbody>
  </table>

</div>




<app-footer></app-footer>