<app-nav></app-nav>

<div class="main">


  <h1>Smoothie</h1>
  <p>We present you our smoothie products.<br>
      EVERY SMOOTHIE IS AN EXPERIENCE.

      MAKE IT COUNT! </p>
  
 
  <div class="row">
    <div class="column">
      <div class="content">
        <img src="assets/malina.jpg" alt="raspberry" style="width:100%">
        <h3>
          Raspberry smoothie</h3>
        <p>Raspberry smoothie is very healthy for the body. It cleanses your body and makes you feel more energy.</p>
      </div>
    </div>
    <div class="column">
      <div class="content">
        <img src="assets/ananas.jpg" alt="ananas" style="width:100%">
        <h3>
          
Pineapple smoothie</h3>
        <p>
          Pineapple smoothie is very healthy and delcious. It makes you lose a weigh.</p>
      </div>
    </div>
    <div class="column">
      <div class="content">
        <img src="assets/kiwi.jpg" alt="kiwi" style="width:100%">
        <h3>
         Kiwi <br>smoothie</h3>
        <p>Kiwi smoothie helps you biuld a new muscles.</p>
      </div>
    </div>
    <div class="column">
      <div class="content">
        <img src="assets/carrot.jpg" alt="kiwi_ananas" style="width:100%">
        <h3>
          Kiwi & ananas smoothie</h3>
        <p>This mixed smoothie is delicious. It has a very low level of cholesterol.</p>
      </div>
    </div>
    <div class="column">
      <div class="content">
        <img src="assets/jagody.jpg" alt="berry" style="width:100%">
        <h3>
          Berry <br>smoothie</h3>
        <p>
          The berry smoothie is very tasty. It contains low calories and adds a lot of energy.</p>
      </div>
    </div>
    <div class="column">
      <div class="content">
        <img src="assets/truskawka.jpg" alt="Strawberry" style="width:100%">
        <h3>
          Strawberry smoothie</h3>
        <p>Strawberry smoothie is our novelty. It is very light and is best suited for a second breakfast.</p>
      </div>
    </div>
    <div class="column">
      <div class="content">
        <img src="assets/szpinak.jpg" alt="Spinach" style="width:100%">
        <h3>
          Spinach <br> smoothie</h3>
        <p>
          Spinach. Green. It's amazingly building muscles. And it tastes great.</p>
      </div>
    </div>
    <div class="column">
      <div class="content">
        <img src="assets/banan.jpg" alt="Banana" style="width:100%">
        <h3>
          Banana <br> smoothie</h3>
        <p>
          Banana smoothie is healthy and delicious. Ideally suits the diet for weight loss.</p>
      </div>
    </div>
    <div class="column">
      <div class="content">
        <img src="assets/carr.jpg" alt="carrot" style="width:100%">
        <h3>
         Carrot <br> smoothie</h3>
        <p>The carrot smoothie contains lots of vitamins A, C, D and K.</p>
      </div>
    </div>
    <div class="column">
      <div class="content">
        <img src="assets/dynia.jpg" alt="Pumpkin" style="width:100%">
        <h3>
          Pumpkin <br>smoothie</h3>
        <p>
          Pumpkin smoothie is our next novelty. Ideally supports the immune system.</p>
      </div>
    </div>
    <div class="column">
      <div class="content">
        <img src="assets/pomar.jpg" alt="orange" style="width:100%">
        <h3>
          Orange <br> smoothie</h3>
        <p>An orange smoothie is the best for our health. Rich in vitamins and microelements, it causes that we have a lot of energy.</p>
      </div>
    </div>
    <div class="column">
      <div class="content">
        <img src="assets/malina.jpg" alt="raspberry" style="width:100%">
        <h3>
          Raspberry smoothie</h3>
        <p>Raspberry smoothie is very healthy for the body. It cleanses your body and makes you feel more energy.</p>
      </div>
    </div>
  </div>
  
  
  
 
  </div>

<app-footer></app-footer>