<footer class="page-footer font-small pt-4">


  <div class="container">


    <div class="row">

      <div class="col-md-4"></div>
      <div class="col-md-4">

        <span>Sign up for our mailig list to get updates.</span>

        <form class="input-group">
          <input class="form-control form-control-sm" type="email" name="email" placeholder="Your email"
            aria-label="Your email" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button type="button" class="btn btn-success">Sign up</button>
          </div>
        </form>
        <div class="footer-copyright text-center py-3">© 2019 Copyright:
          Smoothie Delight 
        </div>
      </div>

    </div>
    <div class="col-md-4"></div>
  </div>






</footer>