<app-nav></app-nav>


<div class="container">

<div><h1>Healthy and Delicious</h1></div>

<div ><img  src="assets/smoothie.jpg" alt="Smoothie" height="500" width="400" class="image">

  <h2>  Smoothie</h2>  
  <p> Light green, foamy drinks is one of the <b> healthiest and delicious </b> trends in food. Devotees advertise this combination of green vegetables, fruits, yoghurt with ice as a natural, tasty and healthy drink. Is it right?
    
    Definitely yes. - Green cocktails are a great way to provide your body with the necessary portion of vegetables, especially if you do not like their taste or lack of time makes it impossible to prepare them in a different way - says Dr. Erin Palinski-Wade, dietician from New Jersey. - Mixing naturally sweet fruits and milk allows you to hide the bitterness of vegetables that do not lose their<b> vitamins and nutritional values</b> ​​- he adds.
    
    Deciduous vegetables are a treasury of nutrients. The three most common vegetables in the smoothie - spinach, kale and fodder cabbage - <b>are full of vitamins A, C and K, have a lot of vitamin B, iron and hardly available calcium, </b>a key mineral for the health of our bones. Most importantly, processing in a blender does not deprive vegetables of their value. - They keep the fiber content and are even easier to digest than in a salad - says Palinski-Wade.</p> 
<div class="row">
    <ul> <h3>The advantages of smoothie</h3>
        <li>
            
It's perfect for breakfast. I do not know about you, but in the morning I never have as much time as I would like. That's why I value the smoothie so much. They are made extremely fast (about 5 minutes) and drinking one half-liter cocktail makes me not hungry for the next 2-3 hours.
It is packed with <b>antioxidants and vitamins</b>. This probably does not need to be explained. Where there are fruits and vegetables, there are vitamins and healthy micronutrients   
smoothie. </li><br>

<li>It will make you lose weight without any effort. At the beginning I was a bit skeptical about it, but it's true. I am not on any diet, nor do I go to the gym, and I see that I get rid of excess fat. Magic! </li>  <br>
<li>It's a great way to cleanse the body, regenerate, <b>lose weight</b>, beautify. How it will affect your body depends on what ingredients you use.</li> <br>
<li>It will give you a huge<b> dose of energy</b>. Smoothie contains a lot of fiber, which makes the sugar and calories absorbed by the body more slowly. Thanks to this, energy is released gradually.</li> <br>
<li>It will help you <b>stay healthy all year long</b>. Thanks to regular drinking smoothie, you will strengthen your immune system and it will respond faster and more efficiently to viruses.</li>
       
    </ul>
</div>
</div>





</div> 

<app-footer></app-footer>