<header >
  <div class="container">
      <div id="branding">
          <h1>Smoothie Delight</h1>
      </div>

      <nav>
          <ul>
              <li> <a [routerLink]= "['']"> Healthy and Delicious </a> </li>
              <li> <a [routerLink]= "['/components/products']" routerLinkActive="active">Products</a> </li>
              <li> <a [routerLink]= "['/components/body']" routerLinkActive="active">Body </a> </li>
              <li> <a [routerLink]= "['/components/contact']" routerLinkActive="active">Stay alert </a> </li>
              
          </ul>
      </nav>
  </div>
</header>


